@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.navbar {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 576px) {
  .navbar {
    background-color: white;
    max-height: 22vh;
  }
}

@media only screen and (max-width: 576px){
  #work_samples_carousel img{
    width: 100%;
    height: 78vh;
  }
}

@media only screen and (max-width: 576px) {
  #designer_name {
    font-family: "Playfair display", sans-serif;
    font-size: 10em;
  }
}

@media only screen and (max-width: 431px){
  #designer_name {
    font-family: "Playfair display", sans-serif;
    font-size: 0.2em;
    padding: 5px;
    text-align: left;
  }
}

@media only screen and (max-width:431px) {
  #exlibrisNavbrand {
    width: 70px;
    max-height: 15vh;
  }

}




#exlibrisNavbrand {
  max-width: 150px;
  max-height: 20vh;
}

#designer_name {
  font-family: "Playfair display", sans-serif;
  font-size: 1.5rem;
  padding: 25px;
  text-align: center;
}

#designer_name p{
  font-size: 1.3rem;

}

#navbarContent {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}


#mainphrase {
  font-family: "Playfair display", sans-serif;
  font-size: 33px;
}

/*
#work_samples_carousel img {
  width: 100%;
  max-height: 78vh;
}
*/

.carousel-item {

    height: 100vh;


}


#work_samples_carousel h4 {
  font-family: "Playfair display", sans-serif;
}

#work_samples_carousel p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.card {
  border: none;
}

.card-img-top {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
}

.card-title {
  font-family: "Playfair display", sans-serif;

}

.card-text {
  font-family:"Montserrat", sans-serif;
  font-size: 20px;
}
