@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.navbar-brand {
  margin: 0 auto;  /*make it in the centre on small screens*/
}

#exlibrisNavbrand {
  max-width: 150px;
  height: 20vh;
}

#designer_name {
  font-family: "Playfair display", sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  text-align: left;
}

#navbarContent {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

#jumbo {
  background-color: white;
}


#mainphrase {
  font-family: "Playfair display", sans-serif;
  font-size: 33px;
}


#lucysWorksCarousel img {
  width: 100%;
  max-height: 78vh;
}



#lucysWorksCarousel h4 {
  font-family: "Playfair display", sans-serif;
}

#lucysWorksCarousel p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.card {
  border: none;
}

.card-img-top {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
}

.card-title {
  font-family: "Playfair display", sans-serif;

}

.card-text {
  font-family:"Montserrat", sans-serif;
  font-size: 20px;
}
